*, *::after, *::before {box-sizing: border-box;}

html {font-size: 16px;}

body {
  background-color: #000;
  color: #fff;
  font-family: Verdana, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.618;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}